:root {
  --top-safe-area: env(safe-area-inset-top);
  --right-safe-area: env(safe-area-inset-right);
  --bottom-safe-area: env(safe-area-inset-bottom);
  --left-safe-area: env(safe-area-inset-left);
  --app-height: 100%;
}
#buildInfo {
  position: absolute;
  top: 10px;
  right: 10px;
  user-select: none; 
}
#pingInfo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  user-select: none;
  color: #0ff2ff;
}
#game {
  top:0;
  left: 0;
}
html, body {
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
canvas {
  transform-origin: top left;
}